* {
  z-index: 1;
}

body {
  background-color: black;
  font-family:
    Noto Sans,
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  width: 100svw;
  min-height: 100vh;
  min-height: 100svh;
  margin: 0;
  padding: 0;
}

#bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  width: 100svw;
  height: 100vh;
  height: 100svh;
  background-image: url("https://raw.githubusercontent.com/Creators-of-Create/Create/d66170c8fed5d02ad46f44fd0e66685be88a3170/src/main/resources/assets/create/textures/item/polished_rose_quartz.png?_=copyright_2019_simibubi_mit_license");
  background-size: cover;
  background-position: center;
  filter: blur(20vw);
  filter: blur(20vmax);
  z-index: 0;
}

#body {
  margin-top: 8px;
  margin-bottom: 8px;
}

.card {
  align-self: center;
  box-sizing: border-box;
  width: fit-content;
  max-width: min(calc(100vw - 16px), 600px);
  max-width: min(calc(100svw - 16px), 600px);
  height: fit-content;
  padding: 16px;
  border-radius: 2px;
  background-color: #fff;
}

h2 {
  margin-top: 8px;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

details[open] {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
}

input {
  width: 160px;
}

address {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

address * {
  color: #fff8;
}

#savePrefixForm {
  display: none;
}

.locaite-link {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.text-red {
  color: red;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-left,
.chat-right {
  margin-top: 12px;
  width: fit-content;
}

.chat-left:first-child,
.chat-right:first-child {
  margin-top: 0;
}

.chat-author {
  font-size: 14px;
}

.chat-message {
  border-radius: 12px;
  padding: 6px;
}

.chat-left .chat-message {
  background-color: burlywood;
  border-bottom-left-radius: 0;
}

.chat-right {
  align-self: end;
}

.chat-right .chat-author {
  text-align: right;
}

.chat-right .chat-message {
  background-color: burlywood;
  border-bottom-right-radius: 0;
}

.chat-message p:first-child {
  margin-top: 0;
}

.chat-message p:last-child {
  margin-bottom: 0;
}

.at {
  background-color: #ddd;
  border-radius: 4px;
  padding: 1px 2px;
  margin: -1px -2px;
}

.at-red {
  background-color: #a00;
  color: white;
}
